################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Day9_Address/FileContentIndex/092008c3-9935-424a-8d8f-be960c28fa40.vsidx
/.vs/Day9_Address/FileContentIndex/read.lock
